@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gluten:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Gluten, sans-serif;
    font-weight: 300;
    background-color: #038C7F;
}