@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gluten:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Gluten, sans-serif;
    font-weight: 300;
    background-color: #008080;
}
/* headings and logo */

h1, h2 {
    font-family: Architects Daughter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #D2D8D9;
    font-weight: bold;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    text-decoration: none;
}

#menu {
    font-size: 150%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 125px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: #D2D8D9;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #F29F05;
}

.active {
    border-bottom: 3px solid #F29F05;
}

#image {
    justify-content: center;
}
#container {
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    margin-bottom: 1rem;
    border-radius: .5rem;
}
.button {
    margin: .5rem;
    width: 15rem;
    height: 3rem;
    border: 3px outset #0B2126;
    border-radius: 5px;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    background-color: #F25C05;
    color: #D2D8D9;
}
.button:hover {
    background-color: #F29F05;
}

.highscores {
    text-align: center;
}

.help-div {
    padding-top: 250px;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
}
.help-div h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.help-list li {
    color: #D2D8D9;
    font-size: 1rem;
    list-style-type: circle;
    text-align: left;
}
.form {
    color: #D2D8D9;
    font-size: 1rem;
    text-align: left;
    padding-left: 700px;
    padding-top: 50px;
}
.input {
    height: 200px;
    width: 500px;
    margin-top: 20px;
}

.feedback-button {
    margin-top: 20px;
    border-radius: 5px;
    border: 3px outset #0B2126;
    padding: 10px 35px;
    text-align: left;
    font-size: 2rem;
    font-family: inherit;
    background-color: #F25C05;
    color: #D2D8D9;
}

.feedback-button:hover {
    background-color: #F29F05;
}

/*Questions page */
.box {
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 200px;
}

.answer-container {
    display: flex;
    margin-bottom: .5rem;
    width: 100%;
    font-size: 1rem;
    border: 3px outset #0B2126;
    border-radius: 5px;
}
.answer-container :hover {
    background-color: #F29F05;
    cursor: pointer;
}
.answer-number {
    background-color: #F25C05;
    color: #D2D8D9;
    padding: 1.5rem 2.5rem;
}
.answer-text {
    padding: 1.5rem;
    width: 100%;
}
/*Display*/
#display {
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: inherit;
    color: #D2D8D9;
}
/* Progress*/
#progress {
    margin-top: 1.5rem;
    border: 5px solid #0B2126;
    width: 10rem;
}
#complete-progress {
    height: 1.5rem;
    width: auto;
    background-color: #F25C05;
}
/* Score card*/
#score-card {
    font-size: 2rem;
    font-family: inherit;
    color: #D2D8D9;
    justify-content: space-around;
}
